{% load static %}
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Página de Login</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="{% static 'style.css' %}" type="text/css">
</head>
<body>
  <div class="container">
    <ul class="nav nav-tabs justify-content-between">
      <li class="nav-item">
        <a class="nav-link" href="vacina">Vacinas</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="prenatal">Pré-natal</a>
      </li>
      <li class="nav-item ml-auto">
        <a class="nav-link" href="#">Perfil do Usuário</a>
      </li>
    </ul>

    <h1 class="text-center">Início</h1>

    <h2>Informações Pessoais</h2>
    <form>
      <div class="form-group">
        <label for="nome">Nome:</label>
        <input type="text" class="form-control" id="nome" name="nome">
      </div>

      <div class="form-group">
        <label for="dataNascimento">Data de Nascimento:</label>
        <input type="date" class="form-control" id="dataNascimento" name="dataNascimento">
      </div>

      <div class="form-group">
        <label for="cpf">CPF:</label>
        <input type="text" class="form-control" id="cpf" name="cpf">
      </div>

      <div class="form-group">
        <label for="Idade">Qual é a sua idade::</label>
        <input type="text" class="form-control" id="idade" name="idade">
      </div>

      <div class="form-group">
        <label for="sus">Número do SUS:</label>
        <input type="text" class="form-control" id="sus" name="sus">
      </div>


      <div class="form-group">
        <label for="estado">Estado:</label>
        <select class="form-control" id="estado" name="estado">
          <option value="">Selecione o Estado</option>
          <option value="AC">Acre</option>
          <option value="AL">Alagoas</option>
          <option value="AP">Amapá</option>
          <option value="AM">Amazonas</option>
          <option value="BA">Bahia</option>
          <option value="CE">Ceará</option>
          <option value="DF">Distrito Federal</option>
          <option value="ES">Espírito Santo</option>
          <option value="GO">Goiás</option>
          <option value="MA">Maranhão</option>
          <option value="MT">Mato Grosso</option>
          <option value="MS">Mato Grosso do Sul</option>
          <option value="MG">Minas Gerais</option>
          <option value="PA">Pará</option>
          <option value="PB">Paraíba</option>
          <option value="PR">Paraná</option>
          <option value="PE">Pernambuco</option>
          <option value="PI">Piauí</option>
          <option value="RJ">Rio de Janeiro</option>
          <option value="RN">Rio Grande do Norte</option>
          <option value="RS">Rio Grande do Sul</option>
          <option value="RO">Rondônia</option>
          <option value="RR">Roraima</option>
          <option value="SC">Santa Catarina</option>
          <option value="SP">São Paulo</option>
          <option value="SE">Sergipe</option>
          <option value="TO">Tocantins</option>
        </select>
      </div>

      <div class="form-group">
        <label for="cidade">Cidade:</label>
        <input type="text" class="form-control" id="cidade" name="cidade">
      </div>

      <div class="form-group">
        <label for="nomeCrianca">Qual nome da Criança:</label>
        <input type="text" class="form-control" id="nomeCrianca" name="nomeCrianca">
      </div>

      <div class="form-group">
        <label for="genero">Qual o Genero da Cirança:</label>
        <input type="text" class="form-control" id="genero" name="genero">
      </div>

      <button type="submit" class="btn btn-primary">Salvar</button>



    </form>

    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
  </div>
</body>
</html>
