{% load static %}
<html lang="pt-br">
<head>

 <meta charset="UTF-8">
  <title>Inicio</title>

  <link rel="stylesheet" href="{% static 'css/style.css' %}">

 </head>
<body>
  <h1>Bem-vindo(a)</h1>
  <h2>Jornada Maternal</h2>
  <form>
    <label for="login">Login:</label>
    <input type="text" id="login" name="login" required><br><br>

    <label for="senha">Senha:</label>
    <input type="password" id="senha" name="senha" required><br><br>

    <input type="submit" value="Entrar">
  </form>

  <div class="link-container">
    <a href="#">Esqueceu a senha?</a>
    <a href="#">Cadastre-se</a>
  </div>
</body>
</html>
