{% load static %}
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Login</title>
  <link rel="stylesheet" href="{% static 'css/loginusu.css' %}">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
  <div class="container">
    <div class="card">
      <h1>Login</h1>
      <form>
        <div class="campo-flo">
          <input type="text" id="login" name="login" required>
          <label for="login">Usuario:</label>
        </div>

        <div class="campo-flo">
          <input type="password" id="senha" name="senha" required>
          <label for="senha">Senha:</label>
        </div>

        <div class="centrobotao">
          <button type="button,submit" class="btn btn-outline-dark">Entrar</button>
        </div>
      </form>

      <div class="a ,p">
        <a href="{% url 'redefenir' %}">Esqueceu a senha?</a>
        <p>Não tem uma conta?
        <a href="{% url 'cadastro' %}">Cadastre-se</a>
    </div>
  </div>
</body>
</html>
