{% load static %}
<!DOCTYPE html>
<html lang="pt">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Perfil de Usuário</title>
           <link rel="stylesheet" href="{% static 'css/perfilusu.css' %}">
</head>
<body>
    <div class="tabs">
        <div class="tab-button" onclick="openTab('perfil')">Perfil</div>
        <div class="tab-button" onclick="openTab('informacoes')">Informações</div>
    </div>

    <div class="tab-content" id="perfil">
        <h2>Perfil de Usuário</h2>
        <p>Nome: João Silva</p>
        <p>Email: joao.silva@example.com</p>
        <p>Idade: 30</p>
    </div>

    <div class="tab-content" id="informacoes">
        <h2>Informações do Usuário</h2>
        <p>Localização: Cidade XYZ</p>
        <p>Interesses: Esportes, Música, Viagens</p>
        <p>Descrição: Sou um entusiasta de tecnologia interessado em aprender coisas novas.</p>
    </div>

    <script src="scripts.js"></script>
</body>
</html>
