{% load static %}
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <title>Redefinir sua senha</title>
  <link rel="stylesheet" href="{% static 'css/styleredefenir.css' %}">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
  <div class="container">
    <div class="area">
      <h1>Esqueceu a senha</h1>
      <h5>Insira o código que iremos enviar a você</h5>
      <form>
        <div class="campo-flo">
          <input type="text" id="login" name="login">
          <label for="login">Email ou Telefone:</label>
        </div>
        <div class="centrobotao">
          <input type="submit" value="Enviar Código" class="button" disabled>
          <a href="#"></a>
          <input type="submit" value="Reenviar Código" class="button" disabled>
          <a href="#"></a>
          <button type="button" class="button" onclick="window.location.href='index.html'">Voltar</button>
        </div>
      </form>
    </div>
  </div>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
