<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>Chat Bot</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/css/chat.css">
</head>
<body>
  <div class="container">
    <div class="area">
      <div class="chat-bubble">
        <span class="chat-bot">Bot:</span>
        <span>Olá! Sou um chat bot especializado em gestantes. Posso fornecer informações e responder suas dúvidas sobre alimentação, cuidados e muito mais. Como posso ajudar você hoje?</span>
      </div>
      <div class="user-input">
        <span class="chat-bot">Mensagem:</span>
        <textarea id="user-input" placeholder="Digite sua mensagem..." rows="4"></textarea>
      </div>
      <div class="button-row">
        <button type="button,submit" class="btn btn-outline-dark">Entrar</button>

        <button type="button,submit" class="btn btn-outline-dark">Entrar</button>

      </div>
    </div>
  </div>

  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
