<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <title>Mais</title>
</head>
<body>
    <h1>Mais</h1>

    <ul>
        <li><a href="amamentacao.html">Amamentação</a></li>
        <li><a href="noticias-dicas.html">Notícias e Dicas</a></li>
        <li><a href="chatbot.html">Chatbot</a></li>
    </ul>

    <p>Descubra mais sobre o mundo da maternidade! Aprenda sobre amamentação, receba dicas e notícias atualizadas e até converse com nosso chatbot especializado. Clique nas abas acima para explorar!</p>
</body>
</html>
