{% load static %}

<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Login</title>
  <link rel="stylesheet" href="{% static 'css/loginusu.css' %}">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>

<div class="alert alert-danger" role="alert">
            {% for k, v in form.errors.items %}
                  {{ v }}
                {% endfor %}
                    </div>


    <div class="container">

          <form method="post">
        {% csrf_token %}

      <div class="card">
        <h1>Login</h1>
        <form>

          <div class="campo-flo">
            <input type="text" id="username" name="username" required>
            <label>Usuario:</label>
          </div>

          <div class="campo-flo">
            <input type="password" id="password" name="password" required>
            <label>Senha:</label>
          </div>

          <div class="centrobotao">
            <button type="submit" class="btn btn-outline-dark">Entrar</button>
          </div>

        </form>

        <div class="a ,p">
              <a href="{% url 'password_reset' %}">Esqueceu a senha?</a>
          <p>Não tem uma conta?
            <a href="{% url 'register' %}">Cadastre-se</a>
          </p>
        </div>
      </div>
    </div>
  </form>
</body>
</html>
