@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');

* {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
}

body {
  background-image: url(/static/images/1.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.card {
  background-color: #ffffff80;
  padding: 27px;
  border-radius: 4%;
  box-shadow: 4px 4px 1px 1px #00000070;
}

h1, h2 {
  text-align: center;
  margin-bottom: 12px;
  color: #272262;
}

.campo-flo input {
  width: 100%;
  padding: 10px 12px;
  display: inline-block;
  border: none;
  border-bottom: 2px solid #272262;
  background-color: transparent;
  outline: none;
  min-width: 180px;
  font-size: 16px;
  border-radius: 0;
}

.campo-flo {
  position: relative;
  padding-top: 13px;
  margin-top: 5%;
  margin-bottom: 5%;
}

.campo-flo input:focus {
  border-bottom: 2px solid #4038a0;
}

.campo-flo label {
  color: #272262;
  pointer-events: none;
  position: absolute;
  top: -7;
  left: 0;
  margin-top: 13px;
}


.button {
  background: transparent;
  border-color: #272262;
  color: #272262;
  padding: 8px;
  margin-top: 22px;
  border-radius: 6px;
  cursor: pointer;
  outline: none;
}

centrobotao:hover {
  background-color: #272262;
  color: #fff;

}

.centrobotao {
  display: flex;
  justify-content: center;
}

.a ,p {
  color: #253573;
  font-weight: bold;
  text-decoration: none;
  color: #272262;
  font-size: 14px;
  text-align: center;
  padding: 7px;
  width: 100%;
}
