@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');

* {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
}

body {
  background-image: img src="{% static 'images/1.jpg' %}";
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;

}

.container {
  display: flex;
  justify-content: center;
  margin-top: 100px;

}

.card {
  background-color: #ffffff80;
  padding: 30px;
  border-radius: 4%;
  box-shadow: 3px 3px 1px 0px #00000070;
}

h1, h2 {
  text-align: center;
  margin-bottom: 10px;
  color: #272262;
}

.label-float input {
  width: 100%;
  padding: 5px 5px;
  display: inline-block;
  border: none;
  border-bottom: 2px solid #272262;
  background-color: transparent;
  outline: none;
  min-width: 180px;
  font-size: 16px;
  transition: all 3s ease-out;
  border-radius: 0;
}

.label-float {
  position: relative;
  padding-top: 13px;
  margin-top: 5%;
  margin-bottom: 5%;
}

.label-float input:focus {
  border-bottom: 2px solid #4038a0;
}

.label-float label {
  color: #272262;
  pointer-event: none;
  position: absolute;
  top:0;
  left:0
  margin-top:13px;
  transition:all .3s ease-out;
}

.label-float input:focus+label{
  font-size:13px;
  margin-top:0;
  color:.label-float input:focus
}

button{
  background: transparent;
  border-color: #272262;
  color: #272262;
  padding: 7px;
  fonte-weight: bold;
  fonte-size: 12px;
  margin-top: 20px;
  border-radius: 4px;
  cursor: pointer;
  outline: none;
  transition:all .5s ease-out;
}

button:hover{
  background-color:#272262;
  color: #fff;

}

.justify-center{
  display:flex;
  justify-content:center;

}

hr{
  marding-top:10%;
  marding-bottom:10%;
  width: 60%;

}
p{
  color:#272262;
  font-size: 14px;
  text-align: center;
  padding: 2px;
  width: 100%;
}

a{
  color:#253573;
  font-weight: bold;
  text-decoration: none;
  transition:all .3s ease-out;
}

a:hover{
  color:#253573;
  transition:all .3s ease-out;
}
